<div class="container">
  <br>
  <br>
  <h2>全ユーザー</h2>
  <br>
  <br>
  <div class="row">
    <div class="user thumbnail">
      <% @users.each do |user| %>
        <div class="col-12 col-md-3">
          <h4><%= render user %></h4>
        </div>
      <% end %>
    </div>
  </div>
    <%= paginate @users %>
</div>