<div class="container">
  <h1>ユーザー</h1>
  <br>
  <br>
  <div class="row">
    <ol class="users">
      <% @users.each do |user| %>
        <div class="col-12 col-md-3">
          <h4><%= render user %></h4>
        </div>
      <% end %>
    </ol>
  </div>
    <%= paginate @users %>
</div>