<h2>MAJIHOJIとは...</h2>
<br>
<br>
<p>
  メンズ化粧品の共有サイトです。
  ユーザー同士で使用しているお勧めのメンズ化粧品アイテムを共有することによって、
  他のユーザーが新たな化粧品を試すきっかけに繋がり、理想のアイテム探しのお手伝いをしてくれます。
  また、自分の所持しているアイテムをまとめて管理をするという使い方も可能です。
  ユーザー登録をすることによって、他のユーザーと投稿内でコメントでのやり取りをすることもできます。
</p>

<img src="/images/s_bas.png" alt="Chania">