<div class="container">
    <% if user_signed_in? %>
        <h1>投稿フォーム</h1>
          <div><%= render 'items/item_form' %></div>

      <div class="row">
        <h3>投稿一覧</h3>
        <ol class="items">
          <% @feed_items.each do |feed_item| %>
            <div class="media">
              <div class="media-body">
                <%= render feed_item %>
              </div>
            </div>
          <% end %>
          <%= paginate @feed_items %>
        </ol>
      </div>
    <% else %>
      <div class="center jumbotron">
        <h1>Majihojiへようこそ!</h1>
        <%= link_to "会員登録はこちら", new_user_registration_path, class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>
</div>

