<br>
<br>
<br>
<%= form_for(@item) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "...投稿したいアイテムの写真と紹介文を入れよう！", class: "form-control" %>
  </div>
  <span class="picture">
    <%= f.file_field :picture %>
  </span>
  <%= f.submit "更新する", class: "btn btn-primary" %>
<% end %>