<div class="container">
  <h1>投稿一覧</h1>

  <div class="row">
    <ol class="items">
      <% @items.each do |item| %>
        <div class="panel panel-default">
            <div class="panel-heading">
              <%= link_to item.user.name, user_path(item.user) %>
            </div>
            <div class="panel-body">
              <%= image_tag item.picture.url if item.picture? %>
              <%= item.content %>
            </div>
          </div>
      <% end %>
    </ol>
  </div>
  <%= paginate @items %>
</div>