<div class="container">
  <h1>投稿一覧</h1>

  <div class="row">
    <ol class="items">
      <% @items.each do |item| %>
        <div class="panel panel-default">
            <div class="panel-body">
                <%= render item %>
            </div>
          </div>
      <% end %>
    </ol>
  </div>
  <%= paginate @items %>
</div>