<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Majihoji",   '#' %></li>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "投稿一覧", '#' %></li>
      <li><%= link_to "アカウント", '#' %></li>
    </ul>
  </nav>
</footer>